<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
  <title>Content not found</title>

  <content>
    <div class="container">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">Sorry, there is a problem with this service</h1>
          <p class="body">We're looking into it. Please <a class="link" href="/login">login again</a> to access the Learning Platform for Government.
          </p>
        </div>
      </div>
    </div>
  </content>
</page>
