<page xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/user-layout :: page(~{::title},~{::content})">

    <title>Enter token - Civil Service Learning</title>

    <content>

        <div class="container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <a href="/login" class="link-back">Back</a>
                    <div th:if="${status}" class="error-summary" role="alert"  aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">There was
                            a problem</h2>
                        <ul class="error-summary-list">
                            <li><a href="#token" th:text="${status}">status ...</a></li>
                        </ul>
                    </div>
                    <h1 class="heading-large">Create an account</h1>
                    <h2 class="heading-medium">Select your organisation</h2>
                    <form method="post" class="push-bottom" th:object="${chooseOrganisationForm}">
                        <input type="hidden" id="removeUser" name="removeUser" value="false">

                        <div class="form-group" th:classappend="${#fields.hasErrors('organisation')} ? form-group-error : ''">
                            <label th:for="organisation" class="govuk-label">Organisation</label>
                            <span id="organisation-hint" class="form-hint">Start typing to find your organisation name</span>
                            <select id="organisation" name="organisation" aria-labelledby="organisation">
                                <option value=""></option>
                                <option th:label="${organisation.formattedName}" th:each="organisation : ${organisations}" th:value="${organisation.code}" th:text="${organisation.formattedName}"></option>
                            </select>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="submit" class="button" value="Continue">
                    </form>

                </div>
            </div>
        </div>

        <script type="text/javascript" src="/assets/js/accessible-autocomplete.min.js"></script>
        <script th:inline="javascript">
            accessibleAutocomplete.enhanceSelectElement({
                autoselect: false,
                defaultValue: '',
                minLength: 1,
                selectElement: document.querySelector('#organisation'),
                showAllValues: true,
            });
        </script>

    </content>

</page>
