<page th:replace="fragments/layout :: page(~{::title},~{::content})">
    <title>Delete Identity</title>

    <content>
        <h1>Delete Identity</h1>

        <strong><p th:text="${identity.email}"></p></strong>
        <p>Are you sure you want to delete this user? This cannot be undone.</p>

        <form autocomplete="nope" action="#" th:action="@{/management/identities/delete}" th:object="${identity}" method="POST">
            <input type="hidden" th:field="*{uid}" />
            <button type="submit" class="btn btn-danger">Delete User</button>
            <a class="btn btn-primary" href="/management/identities">
                Cancel
            </a>
        </form>
    </content>
</page>
